{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "requireConfigFile": false
  },
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "no-console": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/no-danger": ["off"],
    "react/no-array-index-key": ["off"],
    "import/prefer-default-export": ["off"],
    "react/jsx-no-bind": ["off"]
  },
  "ignorePatterns": ["*webpack*"]
}
